@font-face{font-family:"SansaProSemiBold";src:url(res?file=fonts/SansaPro-SemiBold.woff) format("woff");}.f-SansaProSemiBold{font-family:SansaProSemiBold;}

@font-face{font-family:"SansaProLight";src:url(res?file=fonts/SansaPro-Light.woff) format("woff");}.f-SansaProLight{font-family:SansaProLight;}

@font-face{font-family:"SansaProNormal";src:url(res?file=fonts/SansaPro-Normal.woff) format("woff");}.f-SansaProNormal{font-family:SansaProNormal;}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: 0.05em;
    
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 21px;
    font-family: SansaProNormal;        
}

  p {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;  
	margin-top: 0px;
	margin-bottom: 0px;
  }

  ul {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;  
	margin-top: 0px;
	margin-bottom: 0px;
  }
  
  pre {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	font-family: monospace;
	font-size: 13px;
	color: purple;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 3px 3px 3px 3px;
	padding: 5px 2px;
	line-height: 17px;  
  }

